.THIS .jiggle--on{
    animation: site-mass-jiggle-keyframes 0.4s forwards
}

.THIS .off{
    display: none;
}

@keyframes site-mass-jiggle-keyframes{
    0%{transform:translate(0px, 3px)}
    20%{transform:translate(0px, -3px)}
    40%{transform:translate(0px, 3px)}
    60%{transform:translate(0px, -3px)}
    80%{transform:translate(0px, 3px)}
    100%{transform:translate(0px, 0px)}
}